<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpxczif8iiPHe167Jn1NcPaph26SUoVo8</string>
	<key>GCM_SENDER_ID</key>
	<string>703145263808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crispycrew.fryday.qa</string>
	<key>PROJECT_ID</key>
	<string>fryday-b387b</string>
	<key>STORAGE_BUCKET</key>
	<string>fryday-b387b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703145263808:ios:028edca7a735b12f38a325</string>
</dict>
</plist>